#site_logo {
    background-color: aquamarine;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

h1 {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 2em;
}

h2 {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 1.5em;
}

