header body {
    font-family: "Actor";
    font-size: 1em;
}

header h1 {
    font-size: 2em;
}

header h2 {
    font-size: 1.5em;
}

header #site-logo {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

header #site-logo img {
    width: 150px;
    margin-left: 1em;
}

header #site-logo h1 {
    padding: 0 2em 0 2em;
}

header #navigation-menu {
    position: absolute;
    right: 20px;
    top: 30px;
    font-family: "Actor";
    display: flex;
    align-items: center;
    gap: 1em;
}

header #navigation-menu a {
    text-decoration: none;
    color: black;
}

header #navigation-menu:last-child{
    margin-left: auto !important; /* Doesn't work */
}

header #account-image {
    width: 2em;
    border: 2px solid #D0D7DE;
    border-radius: 10em;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

header figure figcaption {
    text-align: center;
}

header #category-dropdown {
    border: 2px  solid #9EE7FB;
    border-radius: 0.5em;
    height: 3.5em;
    font-size: small;
}

header #search {
    border: solid 1px #F0F0F0;
    border-radius: 30px;
    width: 400px;
    height: 50px;
    margin: 0 0.2em 0 0.3em;
    text-indent: 15px;
    background-image: url("../images/search.png");
    background-size: 47px;
    background-repeat: no-repeat;
    background-color: #F0F0F0;
}

header #search::placeholder {
    font-family: "Actor";
  }

header #search:focus { 
    background-image: none; 
}

header #srcbtn {
    background-color: #DEF8FF;
    border: 2px  solid #9EE7FB;
    border-radius: 0.5em;
    height: 3.5em;
    font-size: small;
}

