#site_logo {
    background-color: aquamarine;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

h1 {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 2em;
}

h2 {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 1.5em;
}

#navigation_menu {
    display: flex;
    align-items: center; 
    gap: 1em;
}

#navigation_menu:last-child{
    margin-left: auto !important; /* Doesn't work */
}

#account_image {
    width: 2em;
    padding: 0em 1em 0em 2em;
}

