/* font-family, font size */
body {
  font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans","Tahoma,sans-serif";
  font-size: 1em;
}

h1 {
  font-family: "Alata";
  font-size: 2em;
}

h2 {
  font-family: "Alata";
  font-size: 1.5em;
}

/* body */
body {
    margin: 0em 2em 0em 2em;
}

/* main */
main {
    margin: 2em;
    display: flex;
    gap: 1em;
}

/* popular */
#popular {
    margin-left: 5em;
}


/* prodcut cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    margin-bottom: 1em;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  /* h2 */
  h2 {
    margin-bottom: 1em;
  }




