main p, body {
    font-family: "DM Sans" !important;
    font-size: 1em;
}

main h1 {
    font-family: "Alata";
    font-weight: normal;
    font-size: 3em;
}

main h2 {
    font-size: 1.5em;
}

main main {
    margin: 0em 2em 0em 2em;
}

main .welcome {
    display: flex;
    justify-content: center;
}

main p.welcome {
    color: gray;
}
 
main #wrap {
    border: solid black 1px;
    border-radius: 1.5em;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 5em;
    padding: 7em 2em 7em 2em;
}

main #regis-info {
    display: flex;
    justify-content: center;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 0.15em;
    padding: 0.25em;
}

main form input {
    margin: 0.7em 0em 0.7em 0em;
    border: solid black 1px;
    padding: 1em;
    border-radius: 1em;
    width: 400px;
    height: 50px;
}

main #submit {
    color: white;
    background-color: black;
    padding: 0;
}

main .input {
    margin: 0.8em 0 0.8em 0;
}

main .input #profile-pic {
    border: solid black 1px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-indent: -999em;
    background-image: url("../../images/plus.png");
    background-size: cover;
}

main .input label {
    display: block;
}

main #log {
    text-decoration: none;
    color: #38AB38;
}

