body {
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans","Tahoma,sans-serif";
    font-size: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

main {
    margin: 0em 2em 0em 2em;
}

.welcome {
    display: flex;
    justify-content: center;
}

p.welcome {
    color: gray;
}
 
#wrap {
    border: solid black 1px;
    border-radius: 1.5em;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 5em;
    padding: 7em 2em 7em 2em;
}

#regis-info {
    display: flex;
    justify-content: center;
}

form {
    /* margin: 0.5em 0em 0.5em 0em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 0.15em;
    padding: 0.25em;
}

form input {
    margin: 0.7em 0em 0.7em 0em;
    border: solid black 1px;
    padding: 1em;
    border-radius: 1em;
    width: 400px;
    height: 50px;
}

#submit {
    color: white;
    background-color: black;
}

.input {
    margin: 0.8em 0 0.8em 0;
}

.input #profile-pic {
    border: solid black 1px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-indent: -999em;
    background-image: url("../../images/plus.png");
    background-size: cover;
}

.input label {
    display: block;
}

#log {
    text-decoration: none;
    color: #38AB38;
}

