main p, body {
    font-family: "DM Sans";
    font-size: 1em;
}

main h1 {
    font-family: "Alata";
    font-size: 2em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
    margin-bottom: 1em !important;
}

main h2 {
    font-family: "Alata";
    font-size: 1.5em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #D8DEE4;
}

main {
    margin: 0em 5em 0em 5em;
}

main #menu-bar {
    width: 200px;
    height: 590px;
    float: left;
    margin: 0 3em 0 0;
}

main #menu-bar a {
    display: block;
    text-decoration: none;
    color: black;
}

main a#logout {
    color: #BA1E14;
}

main hr {
    border-top: 1px solid gray;
}

main #account-profile {
    margin-left: 240px;
}

main #account-info {
    left: 500px;
    width: 750px;
}

main #profile-pic {
    position: absolute;
    top: 370px;
    right: 100px;
}

main #pic-form input {
    width: 200px;
    border: none;
}

main #profile-pic p {
    margin: 0;
}

main #pic {
    border: 3px solid #D0D7DE;
    border-radius: 10em;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

main #change-pic {
    background-color: white;
    padding: 0.3em;
    margin: 0;
}

main #acount-info {
    display: flex;
    justify-content: center;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 0.15em;
    padding: 0.25em;
}

main form input {
    margin: 0.7em 0em 0.7em 0em;
    border: 1px solid #D0D7DE;
    background-color: #F6F8FA;
    padding: 1em;
    border-radius: 1em;
    width: 47em;
    height: 50px;
}

main form label {
    width: 750px;
    display: block;
}

main #password {
    display: block;
}

main #curr-pass, #new-pass, #con-pass {
    width: 23em;
}

main #confirm {
    position: relative;
    bottom: 96px;
    left: 400px;
}

main #save {
    background-color: #38AB38;
    padding-top: 0.8em;
    color: white;
    border: none;
    width: 180px;
}

main form input#ch-pic {
    background-color: #38AB38;
    font-size: 0.8em;
    padding: 0;
    border-radius: 1.2em;
    color: white;
    border: none;
    width: 120px;
    height: 30px;
}

main #delete {
    width: 5em;
    padding: 0;
}

main #userlist .center-header th {
    padding: 1em;
    text-align: center;
}

main #userlist img {
    border: 1px solid #D0D7DE;
    border-radius: 1em;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

main #userlist td {
    padding: 0 1em 0 1em;
}