main p, body {
    font-family: "DM Sans";
    font-size: 1em;
}

main h1 {
    font-family: "Alata";
    font-size: 2em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
    margin-bottom: 1em !important;
}

main h2 {
    font-family: "Alata";
    font-size: 1.5em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #D8DEE4;
}

main {
    margin: 0em 5em 0em 5em;
}

main #menu-bar {
    width: 200px;
    height: 590px;
    float: left;
    margin: 0 3em 0 0;
}

main #menu-bar a {
    display: block;
    text-decoration: none;
    color: black;
}

main #user {
    display: flex;
    justify-content: center;
}

main #delete {
    width: 5em;
    padding: 0;
}

main #userlist .center-header th {
    padding: 1em;
    text-align: center;
}

main #userlist img {
    border: 1px solid #D0D7DE;
    border-radius: 1em;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

main #userlist td {
    padding: 0 1em 0 1em;
}